.wg-hero.dark .btn {
    color: #FFFF;
}

.btn-light
{
  background-color: #D90404;
  border: none !important;
}

.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
  color: #00B232;
}

.btn-primary
{
  background-color: #D90404;
  border: none !important;
}